* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #9999;
  margin: 86px;
  font-size: 18px;
}

.row {
  width: 100%;
  overflow: hidden;
  margin-bottom: 15px;
}
.input {
  height: 40px;
  border-radius: 5px;
  border: 2px solid rgba(51, 51, 51, 0.421);
}

textarea {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid rgba(51, 51, 51, 0.421);
}

.btn {
  background-color: rgba(0, 128, 0, 0.704);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background-color: rgb(0, 93, 0);
  transition: all 0.6s ease-out;
}

@media only screen and (max-width: 600px) {
  [class*="col-m-"] {
    float: left;
  }

  .col-m-1 {
    width: 8.33%;
  }

  .col-m-2 {
    width: 16.66%;
  }

  .col-m-3 {
    width: 25%;
  }

  .col-m-4 {
    width: 33.33%;
  }

  .col-m-5 {
    width: 41.66%;
  }

  .col-m-6 {
    width: 50%;
  }

  .col-m-7 {
    width: 58.33%;
  }

  .col-m-8 {
    width: 66.66%;
  }

  .col-m-9 {
    width: 75%;
  }

  .col-m-10 {
    width: 83.33%;
  }

  .col-m-11 {
    width: 91.66%;
  }

  .col-m-12 {
    width: 100%;
  }
  body {
    margin: 32px;
    font-size: 20px;
  }

  label {
    margin-bottom: 5px;
  }

  textarea {
    height: 330px;
  }

  .btn {
    font-size: 22px;
    padding: 20px;
  }
}

@media only screen and (min-width: 601px) {
  [class*="col-"] {
    float: left;
  }

  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }

  label {
    position: relative;
    top: 13px;
  }

  .btn {
    width: 100px;
    float: right;
  }
}
